[submodule "themes/identity"]
	path = themes/identity
	url = https://github.com/aerohub/hugo-identity-theme
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
