{{ define "body_class" }}post-template{{ end }}
{{ define "main" }}
<main class="content" role="main">
  <article class="post">
    <header class="post-header">
      <h2 class="post-title">{{ .Title }}</h2>
      <section class="post-meta">
        <time
          class="post-date"
          >{{ .Date.Format (.Site.Params.dateFormatToUse | default "January 02, 2006") }}</time
        >
        {{ with .Params.categories -}}
        in
        {{ range . }}
        {{- $name := . -}}
        {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
        <a href="{{ .Permalink }}">{{ $name }}</a>
        {{ end -}}
        {{ end }}
        {{ end }}
      </section>
    {{ if gt .WordCount 200 }}
    <aside>
      {{.TableOfContents}}
      <hr />
    </aside>
    {{ end }}
    </header>
    <section class="post-content">
      {{ .Content }}

      <hr />
      <p>
        <em>Don’t miss the next story. Sign up for my occasional</em>
        <a href="https://poga.substack.com/"><em>email newsletter</em></a>
        <em>. Or check the</em>
        <a href="https://devpoga.org/"><em>About/FAQ</em></a>
        <em>page for more.</em>
      </p>
    </section>
    <footer class="post-footer">
      {{ with .Params.tags -}}
      <section class="tags post-meta">
        Tagged
        {{ range . }}
        {{- $name := . -}}
        {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
        <a href="{{ .Permalink }}">#{{ $name }}</a>
        {{ end -}}
        {{ end }}
      </section>
      {{ end }}
    </footer>
  </article>
</main>
{{ end }}
